# Python
*.pyc
*.pyo
*.pyd
__pycache__
.env
.venv
env/
venv/

# VSCode settings
.vscode/

# PostgreSQL
*.sql
*.sqlite3
db.sqlite3

# Aerich migration files
migrations/

# FastAPI
*.log
*.pid

# System files
.DS_Store
Thumbs.db

#GCS
credentials.json
